[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:

[url "git@github.com:"]
  InsteadOf = https://github.com/

[ghq]
  root = ~/go/src
  root = ~/ghq
[include]
	path = ~/.gitconfig_shared
[pull]
	ff = only
